[submodule "examples"]
	path = examples
	url = git@github.com:Wasted-Audio/hvcc-examples.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "dpf-widgets"]
	path = dpf-widgets
	url = git@github.com:DISTRHO/DPF-Widgets.git
